﻿@model PagedList.IPagedList<Entities.History>
@using PagedList.Mvc;
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section username{
    @Html.ViewBag.FullName (@Html.ViewBag.UserName)
}

@section nav{
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a href="/Home">
                <i class="fa fa-dashboard"></i> <span>Trang chủ</span>
            </a>
        </li>
        <li>
            <a href="/Department">
                <i class="fa fa-dashboard"></i><span>Quản lý phòng ban</span>
            </a>
        </li>
        <li>
            <a href="/Position">
                <i class="fa fa-dashboard"></i><span>Quản lý chức vụ</span>
            </a>
        </li>
        <li class="active">
            <a href="/Employee">
                <i class="fa fa-dashboard"></i> <span>Quản lý nhân viên</span>
            </a>
        </li>
        <li>
            <a href="/Office">
                <i class="fa fa-dashboard"></i> <span>Quản lý văn phòng</span>
            </a>
        </li>
    </ul>
}

@section contentHeader{
    <h1>
        Lịch sử ra/vào văn phòng
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active"> Lịch sử ra/vào văn phòng</li>
    </ol>
}

<div class="row">
    <div class="col-md-5">
        <div class="box box-info">
            <br />
            <div class="box-header">
                <h3 class="box-title">Thông tin nhân viên</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-striped">
                    <tr>
                        <th>Họ tên</th>
                        <td>@ViewData["_fullName"]</td>
                    </tr>
                    <tr>
                        <th>Phòng ban</th>
                        <td>@ViewData["department"]</td>
                    </tr>
                    <tr>
                        <th>Chức vụ</th>
                        <td>@ViewData["position"]</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="box box-info">
            <br />
            <div class="box-header">
                <div class="col-sm-2">
                    <h3 class="box-title">Lịch sử</h3> @ViewBag.Time
                </div>
                <div class="col-sm-10">
                    @using (Html.BeginForm())
                    {
                        <div class="input-group input-group">
                            <div class="col-sm-6">
                                @Html.TextBox("start", ViewBag.Start as string, new { @type = "date", @class = "form-control" })
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBox("end", ViewBag.End as string, new { @type = "date", @class = "form-control" })
                            </div>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-info btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    }
                </div>
                
            </div>
            <div class="box-body">
                <table class="table table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Thời gian</th>
                        <th>Trạng thái</th>
                        <th>Wifi</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.history_id</td>
                            <td>@item.history_time</td>
                            <td>
                                @{
                                    if (!@item.history_status.Value)
                                    {
                                        @Html.Raw("Ngoài văn phòng")
                                    }
                                    else
                                    {
                                        @Html.Raw("Trong văn phòng ")
                                        @item.Office.office_name
                                    }
                                }
                            </td>
                            <td>
                                @{
                                    if (!@item.history_status.Value)
                                    {
                                        @item.other_wifi
                                    }
                                    else
                                    {
                                        @item.Office.Wifi.wifi_name
                                    }
                                }
                            </td>
                        </tr>
                                    }
                </table>
                <br />
                <div class="row">
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-4">
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("/History", new { employeeId = ViewBag.id, page, cstart = ViewBag.Start, cend = ViewBag.End }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>