﻿
@{
    ViewBag.Title = "ChangePass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section username{
    @Html.ViewBag.FullName (@Html.ViewBag.UserName)
}

@section nav{
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a href="/Home">
                <i class="fa fa-dashboard"></i> <span>Trang chủ</span>
            </a>
        </li>
        <li>
            <a href="/Department">
                <i class="fa fa-dashboard"></i><span>Quản lý phòng ban</span>
            </a>
        </li>
        <li>
            <a href="/Position">
                <i class="fa fa-dashboard"></i><span>Quản lý chức vụ</span>
            </a>
        </li>
        <li>
            <a href="/Employee">
                <i class="fa fa-dashboard"></i> <span>Quản lý nhân viên</span>
            </a>
        </li>
        <li>
            <a href="/Office">
                <i class="fa fa-dashboard"></i><span>Quản lý văn phòng</span>
            </a>
        </li>
    </ul>
}

@section contentHeader{
    <h1>
        Quản lý tài khoản
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active"> Đổi mật khẩu</li>
    </ol>
}

<div class="box box-info">
    <br />
    <div class="box-header">
        <h3 class="box-title">Đổi mật khẩu</h3>
    </div>
    @using (Html.BeginForm())
    {
        <div class="box-body form-horizontal">
            <div class="form-group">
                <label for="oldPass" class="col-sm-2 control-label">Nhập mật khẩu cũ</label>
                <div class="col-sm-8">
                    @Html.TextBox("txtOldPass", null, new { @type = "password", @class = "form-control", @placeholder = "" })
                </div>
            </div>
            <div class="form-group">
                <label for="newPass" class="col-sm-2 control-label">Nhập mật khẩu mới</label>
                <div class="col-sm-8">
                    @Html.TextBox("txtNewPass", null, new { @type = "password", @class = "form-control", @placeholder = "" })
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPass" class="col-sm-2 control-label">Nhập mật khẩu cũ</label>
                <div class="col-sm-8">
                    @Html.TextBox("txtConfirmPass", null, new { @type = "password", @class = "form-control", @placeholder = "" })
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-info">Xác nhận</button>
            <button type="button" class="btn btn-default" onclick="history.go(-1); return false;">Hủy</button>
        </div>
    }
    @Html.Raw(TempData["msg"])

</div>