﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section username{
    @Html.ViewBag.FullName (@Html.ViewBag.UserName)
}

@section nav{
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a href="/Home">
                <i class="fa fa-dashboard"></i> <span>Trang chủ</span>
            </a>
        </li>
        <li>
            <a href="/Department">
                <i class="fa fa-dashboard"></i><span>Quản lý phòng ban</span>
            </a>
        </li>
        <li>
            <a href="/Position">
                <i class="fa fa-dashboard"></i><span>Quản lý chức vụ</span>
            </a>
        </li>
        <li>
            <a href="/Employee">
                <i class="fa fa-dashboard"></i> <span>Quản lý nhân viên</span>
            </a>
        </li>
        <li>
            <a href="/Office">
                <i class="fa fa-dashboard"></i><span>Quản lý văn phòng</span>
            </a>
        </li>
    </ul>
}

@section contentHeader{
    <h1>
        Quản lý tài khoản
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active"> Thông tin cá nhân</li>
    </ol>
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <br />
            <div class="box-header">
                <h2 class="box-title">Thông tin cá nhân</h2>
                <small>-</small>
                <a onclick="window.location.href = '/Profile/Update'" style="cursor:pointer"> Sửa</a>
            </div>
            <div class="box-body">
                <table class="table table-striped">
                    <tr>
                        <th>Tên đăng nhập</th>
                        <td>@Html.ViewBag.UserName</td>
                    </tr>
                    <tr>
                        <th>Mật khẩu</th>
                        <td><a href="/Profile/ChangePass">Đổi mật khẩu</a></td>
                    </tr>
                    <tr>
                        <th>Họ tên</th>
                        <td>@Html.ViewBag.FullName</td>
                    </tr>
                    <tr>
                        <th>Giới tính</th>
                        <td>@ViewData["Gender"]</td>
                    </tr>
                    <tr>
                        <th>Ngày sinh</th>
                        <td>@ViewData["Birhdate"]</td>
                    </tr>
                    <tr>
                        <th>Điện thoại</th>
                        <td>@ViewData["Phone"]</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>@ViewData["Email"]</td>
                    </tr>
                    <tr>
                        <th>Địa chỉ</th>
                        <td>@ViewData["Address"]</td>
                    </tr>
                </table>
                @Html.Raw(TempData["msg"])
            </div>
        </div>
    </div>
</div>