﻿
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section username{
    @Html.ViewBag.FullName (@Html.ViewBag.UserName)
}

@section nav{
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a href="/Home">
                <i class="fa fa-dashboard"></i> <span>Trang chủ</span>
            </a>
        </li>
        <li>
            <a href="/Department">
                <i class="fa fa-dashboard"></i><span>Quản lý phòng ban</span>
            </a>
        </li>
        <li>
            <a href="/Position">
                <i class="fa fa-dashboard"></i><span>Quản lý chức vụ</span>
            </a>
        </li>
        <li>
            <a href="/Employee">
                <i class="fa fa-dashboard"></i> <span>Quản lý nhân viên</span>
            </a>
        </li>
        <li>
            <a href="/Office">
                <i class="fa fa-dashboard"></i><span>Quản lý văn phòng</span>
            </a>
        </li>
    </ul>
}

@section contentHeader{
    <h1>
        Quản lý tài khoản
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active"> Thông tin cá nhân</li>
    </ol>
}

<div class="box box-info">
    <br />
    <div class="box-header">
        <h3 class="box-title">Cập nhật thông tin nhân viên</h3>
    </div>
    @using (Html.BeginForm())
    {
        <div class="box-body form-horizontal">
            <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label">Họ và tên</label>
                <div class="col-sm-6">
                    @Html.TextBox("txtFirstName", ViewData["firstName"], new { @type = "text", @class = "form-control", @placeholder = "Họ và tên đệm" })
                </div>
                <div class="col-sm-4">
                    @Html.TextBox("txtLastName", ViewData["lastName"], new { @type = "text", @class = "form-control", @placeholder = "Tên" })
                </div>
            </div>
            <div class="form-group">
                <label for="birthdate" class="col-sm-2 control-label">Ngày sinh</label>
                <div class="col-sm-4">
                    @Html.TextBox("txtBirthdate", ViewData["birthdate"], new { @type = "date", @class = "form-control", @placeholder = "dd/MM/yyyy" })
                </div>
                <label class="col-sm-2 control-label">Giới tính</label>
                <div class="col-sm-4">
                    <div class="radio">
                        <label>
                            @Html.RadioButton("rbtnGender", "male", (bool)ViewBag.Gender == true) Nam
                        </label>
                        <label>

                            @Html.RadioButton("rbtnGender", "female", (bool)ViewBag.Gender == false) Nữ
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    @Html.TextBox("txtEmail", ViewData["email"], new { @type = "email", @class = "form-control", @placeholder = "Email" })
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">Điện thoại</label>
                <div class="col-sm-10">
                    @Html.TextBox("txtPhone", ViewData["phone"], new { @type = "text", @class = "form-control", @placeholder = "Điện thoại" })
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-sm-2 control-label">Địa chỉ</label>
                <div class="col-sm-10">
                    @Html.TextBox("txtAddress", ViewData["address"], new { @type = "text", @class = "form-control", @placeholder = "Địa chỉ" })
                </div>
            </div>
        </div>
        @Html.Raw(TempData["msg"])
        <div class="box-footer">
            <button type="submit" class="btn btn-info">Cập nhật</button>
            <button type="button" class="btn btn-default" onclick="history.go(-1); return false;">Trở về</button>
        </div>
    }
</div>